:root {
    --body-background: #000000;
    --card-background: #D0F1FF;
    --font-primary: #4C1199;
    --font-primary-hover: #6909e5;
    --font-secondary: #47424F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */

body {
    background: hsla(276, 91%, 79%, 1);
    background: linear-gradient(90deg, hsla(276, 91%, 79%, 1) 0%, hsla(254, 74%, 65%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#D397FA", endColorstr="#8364E8", GradientType=1 );
    font-family: 'Poppins', sans-serif;
    background: var(--body-background);
}

.title {
    font-size: 12vw;
    text-align: center;
    color: var(--card-background);
    border-bottom: 0.5vh solid var(--font-secondary);
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 8vw;
    padding-inline: 9vw;
    padding-block: 6vw;
}

.tile {
    width: 38vw;
    aspect-ratio: 1/1;
    padding: 3vw;
    border-radius: 2vw;
    background-color: var(--card-background);
}

.done-task {opacity: 0.5;}

.heading {
    font-size: 5vw;
    padding-bottom: 1vw;
    line-height: 1;
    color: var(--font-primary);
    border-bottom: 0.5vw dashed var(--font-secondary);
}

button {
    align-self: flex-end;
    width: 15vw;
    font-size: 2vw;
    border-radius: 1.2vw; 
    padding: 0.5vw;
    border: 0.1vw solid var(--font-secondary);
}

.mark-done-task {
    
}

.delete-task {

}

i {color: #eee;}
